* {
  box-sizing: border-box;
}

#root {
  display: flex;
  flex-wrap: wrap;
}

.card-wrapper {
  width: 200px;
  border: 1px solid black;
  border-radius: 4px;
  padding: 10px;
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 10px;
}

.card-image {
  width: 100%;
  height: 100%;
  border-radius: inherit;
  object-fit: cover;

  z-index: 1;
  position: relative;
}

.image-wrapper{
  display: flex;
  flex-direction: column;
  align-items: center;

  width: 150px;
  height: 150px;
  border-radius: 50%;
  background-color: black;
  position: relative;
}

.user-initial {
  position: absolute;
  color: white;
  font-size: 44px;
}
